
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/MainPage/Menu_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<!-- body -->
<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="images/loading.gif" alt="" /></div>
    </div>
    
    <!-- end header -->
    <!-- revolution slider -->
    <div class="banner-slider">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7">
                    <div id="slider_main" class="carousel slide" data-ride="carousel">
                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/1forms/anasayfa/images/slider_1.png" alt="#" />
                            </div>
                            <div class="carousel-item">
                                <img src="~/1forms/anasayfa/images/slider_1.png" alt="#" />
                            </div>
                        </div>
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#slider_main" data-slide="prev">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </a>
                        <a class="carousel-control-next" href="#slider_main" data-slide="next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="full slider_cont_section">
                        <h4>This page is home page</h4>
                        <h3>SPACE BLOG </h3>
                        <p> Alttaki butonlara lüfen dokunmayınız!!! </p>
                        <div class="button_section">
                            <a href="about.html">Devamını Oku</a>
                            <a href="contact.html">Bize Ulaşın</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end revolution slider -->
    <!-- section -->
    <div class="section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h3>Bizim <span class="orange_color">Hakkımızda</span></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="~/1forms/anasayfa/images/blog1.png" alt="#" />
                </div>
                <div class="col-md-6">
                    <div class="full blog_cont">
                        <h4>Hakkımızda!</h4>
                        <h5>10 Kasım 2022- 5 Okunma</h5>
                        <p> Böyle bir proje alan başka 5 tane aptal insan evladı olamaz!</p>
                    </div>
                </div>
            </div>
            <div class="row margin_top_30">
                <div class="col-md-6">
                    <img src="~/1forms/anasayfa/images/blog2.png" alt="#" />
                </div>
                <div class="col-md-6">
                    <div class="full blog_cont">
                        <h4>EREN "SARI" TOKSÖZ</h4>
                        <h5>10 Kasım 2022- 5 Okunma</h5>
                        <p>Eren namîdeğer "Sarı" lakaplı kişinin çin malı hali.</p>
                    </div>
                </div>
            </div>
            <div class="row margin_top_30">
                <div class="col-md-12">
                    <div class="button_section full center margin_top_30">
                        <a style="margin:0;" href="about.html">Devamını Oku</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section layout_padding dark_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h3>Premium Satın Alma</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="~/1forms/anasayfa/images/marketing_img.png" alt="#" />
                </div>
                <div class="col-md-6">
                    <div class="full blog_cont">
                        <h3 class="white_font">Premium Satın Alma</h3>
                        <h5 class="grey_font">10 Kasım 2022-0 Okunma</h5>
                        <p class="white_font"> Premium alın arkadaşlar. Çok fazla avantajları var. Bunun sayesinde sizlere bir çok olanak tanımakayız. Mesela Eren ile bir gece gibi fırsatları yakalama şansınız vardır!..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <section class="layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading" style="padding-left: 15px;padding-right: 15px;">
                        <h4 style="border-bottom: solid #333 1px;">Yorumlar / 2</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="full comment_blog_line">
                        <div class="row">
                            <div class="col-md-1">
                                <img src="~/1forms/anasayfa/images/c_1.png" alt="#" />
                            </div>
                            <div class="col-md-9">
                                <div class="full contact_text">
                                    <h3>Rakıcı Osman</h3>
                                    <h4>Yayınlandı Kasım 10 / 2022  05:49 </h4>
                                    <p>Eren'e bir kere saplar geçerim net. Eren varsa işin içinde premium da neymiş. 
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <a class="reply_bt" href="#">Cevapla</a>
                            </div>
                        </div>
                    </div>
                    <div class="full comment_blog_line">
                        <div class="row">
                            <div class="col-md-1">
                                <img src="images/c_2.png" alt="#" />
                            </div>
                            <div class="col-md-9">
                                <div class="full contact_text">
                                    <h3>Bünyamin</h3>
                                    <h4>Yayınlandı Kasım 10 / 2022  05:50 </h4>
                                    <p>
                                        Osman bi sus amk!..
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <a class="reply_bt" href="#">Cevapla</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin_top_30">
                <div class="col-md-12 margin_top_30">
                    <div class="heading" style="padding-left: 15px;padding-right: 15px;">
                        <h4>Yorum Yapın</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="full comment_form">
                        <form action="index.html">
                            <fieldset>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" name="name" placeholder="İsim" required="#" />
                                            <input type="email" name="email" placeholder="Email" required="#" />
                                        </div>
                                        <div class="col-md-6">
                                            <textarea placeholder="Yorum"></textarea>
                                        </div>
                                    </div>
                                    <div class="row margin_top_30">
                                        <div class="col-md-12">
                                            <div class="center">
                                                <button>Yayınla</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- section -->
    <div class="section layout_padding blog_blue_bg light_silver">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="heading">
                        <h3>Blog</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="full">
                        <div class="big_blog">
                            <img class="img-responsive" src="~/1forms/anasayfa/images/blog_1.png" alt="#" />
                        </div>
                        <div class="blog_cont_2">
                            <h3>Beyin emcüklenmesi sendromu!!!</h3>
                            <p class="sublittle">10 Kasım 2022 -0 Okunma</p>
                            <p>Gençler kusura bakmayın ama öncelikle beynimizi sikim demek istiyorum. Sonra da Eren'i ;D</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <a href="#"><img src="" alt="#logo" /></a>
                    <ul class="contact_information">
                        <li><span><img src="images/location_icon.png" alt="#" /></span><span class="text_cont">Elazığ <br>Türkiye</span></li>
                        <li><span><img src="images/phone_icon.png" alt="#" /></span><span class="text_cont">0352 255 8800<br>0(507) 987 8921</span></li>
                        <li><span><img src="images/mail_icon.png" alt="#" /></span><span class="text_cont">deneme@gmail.com<br>destek@gmail.com</span></li>
                    </ul>
                    <ul class="social_icon">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="footer_links">
                        <h3>Hızlı link</h3>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Anasayfa</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Deneme link</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Deneme link</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Satın Alma</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Blog</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Deneme Link</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Bize Ulaşın </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer_links">
                        <h3>Instagram</h3>
                        <ol>
                            <li><img class="img-responsive" src="" alt="#" />resim</li>
                            <li><img class="img-responsive" src="" alt="#" />resim</li>
                            <li><img class="img-responsive" src="" alt="#" />resim</li>
                            <li><img class="img-responsive" src="" alt="#" />resim</li>
                        </ol>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer_links">
                        <h3>Bize Ulaşın</h3>
                        <form action="index.html">
                            <fieldset>
                                <div class="field">
                                    <input type="text" name="name" placeholder="İsim" required="" />
                                </div>
                                <div class="field">
                                    <input type="email" name="email" placeholder="Email" required="" />
                                </div>
                                <div class="field">
                                    <input type="text" name="subject" placeholder="Konu" required="" />
                                </div>
                                <div class="field">
                                    <textarea placeholder="Mesajınız"></textarea>
                                </div>
                                <div class="field">
                                    <div class="center">
                                        <button class="reply_bt">Gönder</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>